@import "tailwindcss";

body {
  background-color: #faf9f6;
  background-image: 
    radial-gradient(#e8e3d9 0.8px, transparent 0.8px), 
    radial-gradient(#e8e3d9 0.8px, #faf9f6 0.8px);
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
}
